div.m-wrapper {
	font-size: 15px;
	line-height: 1.6em;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #eeeff3;
	overflow-x: hidden;
	font-family: sans-serif;
}

div.m-wrapper * {
	box-sizing: border-box;
}

div.m-header {
	background: #fff;
	/* color: #fff; */
}

div.m-header img {
	padding-top: 3%;
	width: 100%;
	display: block;
}

div.m-inner {
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 3%;
}

div.m-body {
	padding: 20px 0;
	background: #eeeff3;
}

div.m-body img {
	width: 100%;
	background: #fff;
	padding: 0;
}

.lead {
	font-size: 1.1em;
	padding-top: 70px;
	padding-bottom: 70px;
	line-height: 1.7em;
}

strong {
	font-weight: bold;
}

s {
	color: #aaa;
}

h2 {
	font-size: 1.3em;
	margin-bottom: 0.7em;
	font-weight: bold;
}

table {
	border: 0;
	background: #fff;
	margin: 30px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	width: 100%;
}

table > tbody > tr {
	display: block;
}

table > tbody > tr > td {
	vertical-align: top;
	padding: 30px;
}

table > tbody > tr > td.l {
	width: 38%;
	padding-right: 10px;
}

table.image-n > tbody > tr > td.l {
	display: none !important;
}

table > tbody > tr > td.l h1,
h2,
h3 {
	margin-top: 0;
}

table > tbody > tr > td.l img {
	width: 100%;
}

table > tbody > tr > td.r {
	width: 62%;
	padding-left: 20px;
	vertical-align: middle;
}

hr {
	height: 1px;
	border: 0;
	background: #ddd;
}

.manage {
	display: none;
}

.m-body .cta a {
	display: inline-block;
	background: #1c7cff;
	color: #fff;
	text-decoration: none !important;
	padding: 8px 20px;
	border-radius: 7px;
	margin-top: 20px;
}

.m-footer {
	padding: 0 20px 30px 20px;
	background: #fff;
}

.m-bottom {
	text-align: center;
	font-size: 0.9em;
	line-height: 1.4;
	color: #aaa;
	margin-top: 40px;
	padding-bottom: 40px;
}

@media only screen and (max-width: 650px) {
	div.m-header img {
		width: 106%;
		padding-top: 0;
		margin-left: -3%;
		margin-right: -3%;
	}
}

@media only screen and (max-width: 480px) {
	div.m-wrapper {
		padding: 0 !important;
		width: 100% !important;
		font-size: 14px !important;
	}

	div.m-body,
	div.m-footer {
		padding: 10px 0;
	}

	table {
		margin: 15px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	}

	table > tbody > tr > td.l {
		display: block;
		width: 100%;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;
	}

	.lead {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	h2,
	.cta {
		text-align: center;
	}

	table > tbody > tr > td.l img {
		width: 130px;
		height: 130px;
		border-radius: 100% !important;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}

	table > tbody > tr > td.r {
		display: block;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 25px;
	}
}

.frame-inner.mobile div.m-header img {
	width: 106%;
	padding-top: 0;
	margin-left: -3%;
	margin-right: -3%;
}

.frame-inner.mobile div.m-wrapper {
	padding: 0 !important;
	width: 100% !important;
	font-size: 14px !important;
}

.frame-inner.mobile div.m-body,
.frame-inner.mobile div.m-footer {
	padding: 10px 0;
}

.frame-inner.mobile table {
	margin: 15px 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.frame-inner.mobile table > tbody > tr > td.l {
	display: block;
	width: 100%;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.frame-inner.mobile .lead {
	padding-top: 50px;
	padding-bottom: 50px;
}

.frame-inner.mobile h2,
.frame-inner.mobile .cta {
	text-align: center;
}

.frame-inner.mobile table > tbody > tr > td.l img {
	width: 130px;
	height: 130px;
	border-radius: 100% !important;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.frame-inner.mobile table > tbody > tr > td.r {
	display: block;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}
